<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="<%= host %>/css/foundation-emails.min.css" rel="stylesheet" />
    <title><%= subject || 'Email' %></title>
    <% if(maha) { %>
      <link href="<%= host %>/css/maha-emails.min.css" rel="stylesheet" />
    <% } %>
  </head>
  <body>
    <table class="body">
      <tbody>
        <tr>
          <td class="float-center" align="center" valign="top">
            <center>
              <table class="spacer">
                <tbody>
                  <tr>
                    <td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <table align="center" class="container float-center">
                <tbody>
                  <tr>
                    <td>
                      <%- content %>
                      <% if(maha) { %>
                        <table class="row maha-footer">
                          <tbody>
                            <tr>
                              <td class="small-12 large-12 columns first last">
                                <p class="text-center">
                                  &copy; Copyright <%= moment().format('YYYYYY') %> The Maha Platform. All rights Reserved.
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% } %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="spacer">
                <tbody>
                  <tr>
                    <td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
