<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title><%- config.settings.subject %></title>
    <%- style %>
  </head>
  <body>
    <% if(config.settings.preview_text) { %>
      <span class="preview-text">
        <%= config.settings.preview_text %>
      </span>
    <% } %>
    <table class="body" id="body">
      <tbody>
        <tr>
          <td class="float-center" align="center" valign="top">
            <center>
              <table class="container">
                <tbody>
                  <tr>
                    <td>
                      <% ['header','body','footer'].map((section) => { %>
                        <table class="section-<%= section %> section" bgcolor="<%= config[section].background_color %>">
                          <tbody>
                            <tr>
                              <td>
                                <% config[section].blocks.map((block, blockIndex) => { %>
                                  <table class="row collapse block-<%= blockIndex %> <%= block.type %>-block block">
                                    <tbody>
                                      <tr>
                                        <td class="small-12 large-12 columns first last">
                                          <table class="block-container" bgcolor="<%= config[section].blocks[blockIndex].background_color %>">
                                            <tbody>
                                              <tr>
                                                <td class="block-container-cell">
                                                  <%- include(`${includePath}/blocks/${block.type}`, { block, host, objects }) %>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                <% }) %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% }) %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
