<style>
  html {
    background: #EEEEEE !important;
  }
  table.body {
    background: none !important;
  }
  .email td.columns {
    background: #FFFFFF !important;
    padding: 15px;
  }
  .invoice {
    Margin: 30px 0;
    margin: 30px 0;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    width: 100%;
  }
  .invoice > tbody > tr:nth-child(2) > td {
    padding: 15px;
  }
  .invoice-details,
  .invoice-customer,
  .invoice-program,
  .invoice-line-items {
    width: 100%;
    margin-bottom: 15px;
    Margin-bottom: 15px;
  }
  .invoice-details {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    width: 100%;
  }
  .invoice-details td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 4px;
  }
  .invoice-details tr td:first-child {
    width: 100px;
  }
  .invoice-customer,
  .invoice-program {
    border: 1px solid #DDDDDD;
  }
  .invoice-customer > tbody > tr > td,
  .invoice-program > tbody > tr > td {
    padding: 10px;
  }
  .invoice-program img {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    overflow: hidden;
  }
  .invoice-program table tr td:first-child {
    width: 80px;
  }
  .invoice-line-items {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    width: 100%;
  }
  .invoice-line-items td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 8px;
  }
  .invoice-line-items .voided span {
    color: red;
    text-decoration: line-through;
  }
  .invoice-line-items tbody td:nth-child(2),
  .invoice-line-items tbody td:nth-child(3),
  .invoice-line-items tbody td:nth-child(4) {
    width: 80px;
    text-align: right;
  }
  .invoice-line-items thead td,
  .invoice-line-items .total td:nth-child(1) {
    background-color: #EEEEEE;
    font-weight: bold;
  }
  .invoice-line-items .total td {
    font-weight: bold;
  }

</style>
<table align="center" class="container panel email">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last">
        <p><%- message.replace(/\n/g, '<br />') %></p>
        <table class="invoice">
          <tbody>
            <tr>
              <td>
                <% if(invoice.status !== 'unpaid') { %>
                  <img src="<%= host %>/admin/images/payments/<%= invoice.status %>.png" />
                <% } %>
              </td>
            </tr>
            <tr>
              <td>
                <table class="invoice-details">
                  <tbody>
                    <tr>
                      <td>Invoice ID</td>
                      <td><%= invoice.code %></td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td><%= moment(invoice.date).format('MMM DD, YYYY') %></td>
                    </tr>
                    <tr>
                      <td>Due</td>
                      <td><%= moment(invoice.due).format('MMM DD, YYYY') %></td>
                    </tr>
                  </tbody>
                </table>
                <table class="invoice-program">
                  <tbody>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="<%= host %>/imagecache/w=64&h=64<%= invoice.program.logo %>" />
                            </td>
                            <td>
                              <strong><%= invoice.program.title %></strong><br />
                              <%- invoice.program.address.replace(/\n/g, '<br />') %>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="invoice-customer">
                  <tbody>
                    <tr>
                      <td>
                        <strong><%= invoice.customer.display_name %></strong><br />
                        <%= invoice.customer.email %>
                      </td>
                    </tr>
                  <tbody>
                </table>
                <table class="invoice-line-items">
                  <thead>
                    <tr>
                      <td>ITEM</td>
                      <td>QTY</td>
                      <td>PRICE</td>
                      <td>TOTAL</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% invoice.line_items.map((invoice) => { %>
                      <tr class="row">
                        <td><%= invoice.description %></td>
                        <td><%= invoice.quantity %></td>
                        <td><%= numeral(invoice.price).format('0.00') %></td>
                        <td><%= numeral(invoice.total).format('0.00') %></td>
                      </tr>
                    <% }) %>
                    <% if(invoice.tax > 0 || invoice.discount > 0) { %>
                      <tr class="total">
                        <td colspan="3">SUBTOTAL</td>
                        <td><%= numeral(invoice.subtotal).format('0.00') %></td>
                      </tr>
                    <% } %>
                    <% if(invoice.tax > 0) { %>
                      <tr>
                        <td colspan="3">Tax</td>
                        <td><%= numeral(invoice.tax).format('0.00') %></td>
                      </tr>
                    <% } %>
                    <% if(invoice.discount > 0) { %>
                      <tr>
                        <td colspan="3">Discount</td>
                        <td>-<%= numeral(invoice.discount).format('0.00') %></td>
                      </tr>
                    <% } %>
                    <tr class="total">
                      <td colspan="3">TOTAL</td>
                      <td><%= numeral(invoice.total).format('0.00')%></td>
                    </tr>
                    <% invoice.payments.map((payment) => { %>
                      <tr>
                        <td colspan="3">
                          <%= payment.activity %> on
                          <%= moment(payment.date).format('MM/DD/YYYY') %>
                          <% if(payment.voided_date) { %>
                            (voided on <%= moment(payment.voided_date).format('MM/DD/YYYY') %>)
                          <% } %>
                        </td>
                        <td><span>-<%= numeral(payment.amount).format('0.00')%></span></td>
                      </tr>
                    <% }) %>
                    <% if(invoice.payments.length > 0) { %>
                      <tr class="total">
                        <td colspan="3">BALANCE DUE</td>
                        <td><%= numeral(invoice.balance).format('0.00') %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="button radius expand">
          <tbody>
            <tr>
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <center>
                          <a href="<%= host %>/finance/invoices/<%= invoice.code %>" align="center" class="float-center">
                            <%= !_.includes(['paid','void'], invoice.status) ? 'Make Payment' : 'View Online' %>
                          </a>
                        </center>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td class="expander"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
