<%
getProp = function(prop, key) {
  const value = _.get(config, key)
  return value ? `${prop}: ${value};` : ''
}

getFormat = function(prop, targetValue, key, defaultValue) {
  const formats = _.get(config, key) || []
  const selected = _.includes(formats, targetValue)
  const value = selected ? targetValue : defaultValue
  return selected || defaultValue ? `${prop}: ${value};` : ''
}
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link href="/admin/css/foundation-emails.min.css" rel="stylesheet" />
    <style type="text/css">
      table.container {
        margin: 9px 0 auto;
        Margin: 9px 0 auto;
      }
      table.body > tbody > tr > td.float-center {
        padding: 10px;
      }
      td.columns,
      td.column,
      th.columns,
      th.column {
        padding-bottom: 0;
      }
      body,
      table.body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      td,
      th,
      a {
        line-height: 1.5;
      }
      table.button table td {
        background-color: #BBBBBB;
        color: #666666;
        border: none;
      }
      div.divider {
        height: 0;
      }
    </style>
    <style type="text/css">
    @media only screen {
      html {
        <%- getProp('background',`page.background_color`) %>
      }
    }
    <% ['h1','h2','h3','h4','p'].map(block_type => { %>
      <%- block_type %> {
        <%- getProp('font-family',`page.${block_type}_font_family`) %>
        <%- getProp('font-size',`page.${block_type}_font_size`) %>
        <%- getFormat('font-weight', 'bold', `page.${block_type}_format`) %>
        <%- getFormat('font-style', 'italic', `page.${block_type}_format`) %>
        <%- getFormat('text-decoration', 'underline', `page.${block_type}_format`) %>
        <%- getProp('color',`page.${block_type}_color`) %>
        <%- getProp('text-align',`page.${block_type}_text_align`) %>
        <%- getProp('line-height',`page.${block_type}_line_height`) %>
        <%- getProp('letter-spacing',`page.${block_type}_letter_spacing`) %>
      }
    <% }) %>
    table.body {
      <%- getProp('background-color','page.background_color') %>
      <%- getProp('border-top','page.border_top') %>
    }
    table.container {
      <%- getProp('background','page.email_background_color') %>
      <%- getProp('border','page.email_border') %>
    }
    <% sections.map((section, i) => { %>
      table.section-<%- i %> {
        <%- getProp('background-color',`sections[${i}].background_color`) %>
        <%- getProp('border-top',`sections[${i}].border_top`) %>
        <%- getProp('border-bottom',`sections[${i}].border_bottom`) %>
        <%- getProp('padding-top',`sections[${i}].padding_top`) %>
        <%- getProp('padding-bottom',`sections[${i}].padding_bottom`) %>
      }
      table.section-<%- i %> td,
      table.section-<%- i %> p {
        <%- getProp('font-family',`sections[${i}].font_family`) %>
        <%- getProp('font-size',`sections[${i}].font_size`) %>
        <%- getProp('color',`sections[${i}].color`) %>
        <%- getProp('text-align',`sections[${i}].text_align`) %>
        <%- getProp('line-height',`sections[${i}].line_height`) %>
        <%- getProp('letter-spacing',`sections[${i}].letter_spacing`) %>
        <%- getFormat('font-weight', 'bold', `sections[${i}].format`, 'normal') %>
        <%- getFormat('font-style', 'italic', `sections[${i}].format`) %>
        <%- getFormat('text-decoration', 'underline', `sections[${i}].format`) %>
      }
      table.section-<%- i %> td a {
        <%- getProp('color',`sections[${i}].link_color`) %>
        <%- getFormat('font-weight', 'bold', `sections[${i}].link_format`, 'normal') %>
        <%- getFormat('font-style', 'italic', `sections[${i}].link_format`) %>
        <%- getFormat('text-decoration', 'underline', `sections[${i}].link_format`) %>
      }
      <% sections[i].blocks.map((block, j) => { %>
        <% style = sections[i].blocks[j] %>
        table.section-<%- i %>-block-<%- j %> td,
        table.section-<%- i %>-block-<%- j %> p {
          <%- getProp('font-family',`sections[${i}].blocks[${j}].font_family`) %>
          <%- getProp('font-size',`sections[${i}].blocks[${j}].font_size`) %>
          <%- getProp('color',`sections[${i}].blocks[${j}].color`) %>
          <%- getProp('text-align',`sections[${i}].blocks[${j}].text_align`) %>
          <%- getProp('line-height',`sections[${i}].blocks[${j}].line_height`) %>
          <%- getProp('letter-spacing',`sections[${i}].blocks[${j}].letter_spacing`) %>
        }
        <% if(block.type === 'button') { %>
          table.section-<%- i %>-block-<%- j %> table.button table td {
            <%- getProp('border',`sections[${i}].blocks[${j}].border`) %>
            <%- getProp('background-color',`sections[${i}].blocks[${j}].background_color`) %>
            <%- getProp('border-radius',`sections[${i}].blocks[${j}].border_radius`) %>
          }
          table.section-<%- i %>-block-<%- j %> table.button table td a {
            <%- getProp('font-family',`sections[${i}].blocks[${j}].font_family`) %>
            <%- getProp('font-size',`sections[${i}].blocks[${j}].font_size`) %>
            <%- getProp('letter-spacing',`sections[${i}].blocks[${j}].letter_spacing`) %>
            <%- getProp('color',`sections[${i}].blocks[${j}].color`) %>
            <%- getProp('padding-top',`sections[${i}].blocks[${j}].padding_top`) %>
            <%- getProp('padding-bottom',`sections[${i}].blocks[${j}].padding_bottom`) %>
          }
        <% } else if(block.type === 'divider') { %>
          table.section-<%- i %>-block-<%- j %> td {
            <%- getProp('padding-top',`sections[${i}].blocks[${j}].padding_top`) %>
            <%- getProp('padding-bottom',`sections[${i}].blocks[${j}].padding_bottom`) %>
            <%- getProp('background-color',`sections[${i}].blocks[${j}].background_color`) %>
          }
          table.section-<%- i %>-block-<%- j %> div.divider {
            height: 0;
            <%- getProp('border',`sections[${i}].blocks[${j}].border`) %>
          }
        <% } else if(block.type === 'text') { %>
          table.section-<%- i %>-block-<%- j %> td,
          table.section-<%- i %>-block-<%- j %> p {
            <%- getProp('font-family',`sections[${i}].blocks[${j}].font_family`) %>
            <%- getProp('font-size',`sections[${i}].blocks[${j}].font_size`) %>
            <%- getProp('color',`sections[${i}].blocks[${j}].color`) %>
            <%- getProp('text-align',`sections[${i}].blocks[${j}].text_align`) %>
            <%- getProp('line-height',`sections[${i}].blocks[${j}].line_height`) %>
            <%- getProp('letter-spacing',`sections[${i}].blocks[${j}].letter_spacing`) %>
          }
        <% } %>
      <% }) %>
    <% }) %>
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>
                  <% sections.map((section, i) => { %>
                    <table class="section-<%- i %>">
                      <tr>
                        <td>
                          <% if(sections[i].padding_top) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- sections[i].padding_top %>" style="font-size:<%- sections[i].padding_top %>;line-height:<%- sections[i].padding_top %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                          <% if(section.blocks.length > 0) { %>
                            <% section.blocks.map((block, j) => { %>
                              <% if(block.type === 'text') { %>
                                <table class="row section-<%- i %>-block-<%- j %>">
                                  <tr>
                                    <% columns = block.columns %>
                                    <% split = block.split %>
                                    <% for(var k = 0; k < columns; k++) { %>
                                      <td class="large-<%- split[k] %><%- k === 0 ? ' first' : '' %><%- k === columns - 1 ? ' last' : '' %> columns">
                                        <%- block[`content_${k}`] %>
                                      </td>
                                    <% } %>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'divider') { %>
                                <table class="row section-<%- i %>-block-<%- j %>">
                                  <tr>
                                    <td class="large-12 first last columns">
                                      <div class="divider"></div>
                                    </td>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'code') { %>
                                <table class="row section-<%- i %>-block-<%- j %>">
                                  <tr>
                                    <td class="large-12 first last columns">
                                      <%- block.content %>
                                    </td>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'button') { %>
                                <table class="row section-<%- i %>-block-<%- j %>">
                                  <tr>
                                    <td class="large-12 first last columns">
                                      <% if(block.align === 'center') { %>
                                        <center>
                                      <% } %>
                                      <table class="button<%= block.display === 'block' ? ' expanded' : '' %> float-<%= block.align %>">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td>
                                                  <% if(block.link_strategy === 'web') { %>
                                                    <a href="<%= block.url %>"<%- block.open_in_new_window ? 'target="_blank"': '' %><%= block.title ? ' title="'+block.title+'"' : '' %>>
                                                  <% } else if(block.link_strategy === 'email') { %>
                                                    <a href="mailto:<%- block.email_address %>"<%= block.title ? ' title="'+block.title+'"' : '' %>>
                                                  <% } else if(block.link_strategy === 'anchor') { %>
                                                    <a href="#<%- block.anchor %>"<%= block.title ? ' title="'+block.title+'"' : '' %>>
                                                  <% } else if(block.link_strategy === 'asset') { %>
                                                    <a href="<%- block.asset_id %>"<%= block.title ? ' title="'+block.title+'"' : '' %>>
                                                  <% } %>
                                                    <%= block.content %>
                                                  </a>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                      <% if(block.align === 'center') { %>
                                        </center>
                                      <% } %>
                                    </td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'images') { %>
                                <%
                                const imagestyle = (style) => {
                                  const styles = []
                                  if(style.width !== null) styles.push('border:'+style.width+'px '+style.style+' '+style.color+';')
                                  if(style.rounded !== null) styles.push('border-radius: '+(25*2)+'%;')
                                  return styles.join('')
                                }
                                %>
                                <% layout = block.settings.layout || [1] %>
                                <% layout.reduce((total, columns) => { %>
                                  <table class="row section-<%- i %>-block-<%- j %>">
                                    <tr>
                                      <% for(var k = 0; k < columns; k++) { %>
                                        <td class="large-<%- 12 / columns %><%- k === 0 ? ' first' : '' %><%- k === columns - 1 ? ' last' : '' %> columns">
                                          <img src="<%- block.content[total + k] %>" style="<%- imagestyle(block.style) %>" />
                                        </td>
                                      <% } %>
                                    </tr>
                                  </table>
                                  <% return total + columns %>
                                <% }, 0) %>
                              <% } %>
                            <% }) %>
                          <% } %>
                          <% if(sections[i].padding_bottom) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- sections[i].padding_bottom %>" style="font-size:<%- sections[i].padding_bottom %>;line-height:<%- sections[i].padding_bottom %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                        </td>
                      </tr>
                    </table>
                  <% }) %>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
