<%
const imageurl = (image) => {
  if(image) return `${host}/imagecache/w=580&dpi=2&q=100${image}`
  return 'https://dummyimage.com/1000x600/666666/ffffff&text=+++IMAGE+++'
}
const image = (block) => {
  if(block.image_url) return `
    <a href="${block.image_url}">
      <img src="${imageurl(block.image)}" />
    </a>
  `
  return `<img src="${imageurl(block.image)}" />`
}
const captionCell = (block, vertical, position) => {
  const width = vertical ? 12 : 12 - block.image_width
  return `
    <td class="${`small-${width} large-${width} columns ${position} block-caption`}">
      <div>${ block.caption }</div>
    </td>
  `
}
const imageCell = (block, vertical, position) => {
  const width = vertical ? 12 : block.image_width
  return `
    <td class="${`small-${width} large-${width} columns ${position} block-image`}">
      <div>${ image(block) }</div>
    </td>
  `
}
%>
<% if(block.show_caption) { %>
  <table class="row collapse">
    <% if(block.image_position === 'bottom') { %>
      <tbody>
        <tr>
          <%- captionCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
        <tr>
          <%- imageCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.image_position === 'top') { %>
      <tbody>
        <tr>
          <%- imageCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
        <tr>
          <%- captionCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.image_position === 'left') { %>
      <tbody>
        <tr>
          <%- imageCell(block, false, 'first') %>
          <%- captionCell(block, false, 'last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.image_position === 'right') { %>
      <tbody>
        <tr>
          <%- captionCell(block, false, 'first') %>
          <%- imageCell(block, false, 'last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } %>
  </table>
<% } else { %>
  <table class="row collapse">
    <tbody>
      <tr>
        <%- imageCell(block, true, 'first last') %>
        <td class="expander"></td>
      </tr>
    </tbody>
  </table>
<% } %>
