<% if(block.show_caption) { %>
  <table class="row collapse">
    <% if(block.video_position === 'bottom') { %>
      <tbody>
        <tr>
          <td class="small-12 large-12 columns first last block-caption">
            <div><%- block.caption %></div>
          </td>
          <td class="expander"></td>
        </tr>
        <tr>
          <td class="small-12 large-12 columns first last">
            <a href="<%= block.video.src %>" target="_blank">
              <img src="<%= `${host}/imagecache/w=580&dpi=2&q=100&overlay=video${block.video.preview}` %>" />
            </a>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'top') { %>
      <tbody>
        <tr>
          <td class="small-12 large-12 columns first last">
            <a href="<%= block.video.src %>" target="_blank">
              <img src="<%= `${host}/imagecache/w=580&dpi=2&q=100&overlay=video${block.video.preview}` %>" />
            </a>
          </td>
          <td class="expander"></td>
        </tr>
        <tr>
          <td class="small-12 large-12 columns first last block-caption">
            <div><%- block.caption %></div>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'left') { %>
      <tbody>
        <tr>
          <td class="small-12 large-<%= block.video_width %> columns first">
            <a href="<%= block.video.src %>" target="_blank">
              <img src="<%= `${host}/imagecache/w=580&dpi=2&q=100&overlay=video${block.video.preview}` %>" />
            </a>
          </td>
          <td class="small-12 large-<%= 12 - block.video_width %> columns last block-caption">
            <div><%- block.caption %></div>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'right') { %>
      <tbody>
        <tr>
          <td class="small-12 large-<%= 12 - block.video_width %> columns first block-caption">
            <div><%- block.caption %></div>
          </td>
          <td class="small-12 large-<%= block.video_width %> columns last">
            <a href="<%= block.video.src %>" target="_blank">
              <img src="<%= `${host}/imagecache/w=580&dpi=2&q=100&overlay=video${block.video.preview}` %>" />
            </a>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } %>
  </table>
<% } else { %>
  <table class="row collapse">
    <tbody>
      <tr>
        <td class="small-12 large-12 columns first last">
          <a href="<%= block.video.src %>" target="_blank">
            <img src="<%= `${host}/imagecache/w=580&dpi=2&q=100&overlay=video${block.video.preview}` %>" />
          </a>
        </td>
        <td class="expander"></td>
      </tr>
    </tbody>
  </table>
<% } %>
