<% sections = ['preheader','header','body','footer'] %>
<% headers = ['h1','h2','h3','h4'] %>
<% page_background_color = _.get(design, 'page.background_color', '#F3F3F3') %>
<% page_border_top = _.get(design, 'page.border_top', 'none') %>
<% page_email_border = _.get(design, 'page.email_border', 'none') %>
<% styles = {} %>
<% headers.map((header, index) => { %>
  <% styles[header] = {} %>
  <% styles[header].font_family = _.get(design, 'page.'+header+'.font_family', 'Arial') %>
  <% styles[header].font_size = _.get(design, 'page.'+header+'.font_size', (24 - (2 * index))+'px') %>
  <% styles[header].color = _.get(design, 'page.'+header+'.color', '#202020') %>
  <% styles[header].bold = _.get(design, 'page.'+header+'.bold', true) %>
  <% styles[header].italic = _.get(design, 'page.'+header+'.italic', false) %>
  <% styles[header].text_align = _.get(design, 'page.'+header+'.text_align', 'left') %>
  <% styles[header].line_height = _.get(design, 'page.'+header+'.line_height', 1.5) %>
  <% styles[header].letter_spacing = _.get(design, 'page.'+header+'.letter_spacing', 'normal') %>
<% }) %>
<% sections.map(section => { %>
  <% styles[section] = {} %>
  <% styles[section].background_color = _.get(design, section+'.background_color', '#FFFFFF') %>
  <% styles[section].background_image = _.get(design, section+'.background_image', null) %>
  <% styles[section].border_top = _.get(design, section+'.border_top', 'none') %>
  <% styles[section].border_bottom = _.get(design, section+'.border_bottom', 'none') %>
  <% styles[section].padding_top = _.get(design, section+'.padding_top', '9px') %>
  <% styles[section].padding_bottom = _.get(design, section+'.padding_bottom', '9px') %>
  <% styles[section].text_font_family = _.get(design, section+'.font_family', 'Arial') %>
  <% styles[section].text_font_size = _.get(design, section+'.font_size', '18px') %>
  <% styles[section].text_color = _.get(design, section+'.color', '#656565') %>
  <% styles[section].text_text_align = _.get(design, section+'.text_align', 'left') %>
  <% styles[section].text_line_height = _.get(design, section+'.line_height', 1.5) %>
  <% styles[section].link_color = _.get(design, section+'.link_color', '#656565') %>
  <% styles[section].link_bold = _.get(design, section+'.link_bold', false) %>
  <% styles[section].link_underline = _.get(design, section+'.link_underline', false) %>
  <% content[section].map((block, index) => { %>
    <% styles[section+'-block-'+index] = {} %>
    <% styles[section+'-block-'+index].font_family = _.get(content, section+'['+index+'].style.font_family', null) %>
    <% styles[section+'-block-'+index].font_size = _.get(content, section+'['+index+'].style.font_size', null) %>
    <% styles[section+'-block-'+index].color = _.get(content, section+'['+index+'].style.color', null) %>
    <% styles[section+'-block-'+index].bold = _.get(content, section+'['+index+'].style.bold', false) %>
    <% styles[section+'-block-'+index].italic = _.get(content, section+'['+index+'].style.italic', false) %>
    <% styles[section+'-block-'+index].text_align = _.get(content, section+'['+index+'].style.text_align', 'left') %>
    <% styles[section+'-block-'+index].line_height = _.get(content, section+'['+index+'].style.line_height', null) %>

  <% }) %>
<% }) %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link href="/admin/css/foundation-emails.min.css" rel="stylesheet" />
    <% if(editable === true) { %>
      <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
      <style type="text/css">
        .dropzone {
          padding: 10px;
          background: #EEE;
          border: 1px solid #BBB;
        }
        .dropzone td.first {
          text-align: center;
        }
        .block {
          position: relative;
          cursor: pointer;
          border: 1px solid transparent;
        }
        .block.active {
          border-color: #000000;
        }
        .block:hover {
          border-color: #000000;
          min-height: 45px;
        }
        .block:hover .block-actions {
          display: flex;
        }
        .block-actions {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.4);
        }
        .block-actions .block-spacer {
          flex: 1;
        }
        .block-action {
          padding: 10px;
        }
        .block-action .fa {
          color: rgba(255,255,255,0.7);
        }
        .block-action:hover .fa {
          color: rgb(255,255,255);
        }
      </style>
    <% } %>
    <style type="text/css">

    @media only screen {
      html {
        background: <%- page_background_color %>; } }

    table.body {
      border-top: <%- page_border_top %>;
      background: <%- page_background_color %>; }

    table.body > tbody > tr > td.float-center {
      padding: 10px; }

    td.columns,
    td.column,
    th.columns,
    th.column {
      padding-bottom: 0; }

    body,
    table.body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    td,
    th,
    a {
      line-height: 1.5; }

    <% headers.map(header => { %>
      <%- header %> {
        word-wrap: normal;
        margin-bottom: 10px;
        Margin-bottom: 10px;
        font-family: <%- styles[header].font_family %>;
        font-size: <%- styles[header].font_size %>;
        <%- styles[header].bold ? 'font-weight: bold;' : '' %>
        <%- styles[header].italic ? 'font-style: italic;' : '' %>
        line-height: <%- styles[header].line_height %>;
        letter-spacing: <%- styles[header].letter_spacing %>;
        color: <%- styles[header].color %>;
        text-align: <%- styles[header].text_align %>; }
    <% }) %>

    table.email {
      border: <%- page_email_border %>; }

    <% sections.map(section => { %>
      table.email-<%- section %> {
        border-top: <%- styles[section].border_top %>;
        border-bottom: <%- styles[section].border_bottom %>;
        background-color: <%- styles[section].background_color %>; }

      table.email-<%- section %> td,
      table.email-<%- section %> p {
        font-family: <%- styles[section].text_font_family %>;
        font-size: <%- styles[section].text_font_size %>;
        color: <%- styles[section].text_color %>;
        text-align: <%- styles[section].text_text_align %>;
        line-height: <%- styles[section].text_line_height %>; }

      table.email-<%- section %> td a {
        color: <%- styles[section].link_color %>;
        <%- styles[section].link_bold ? 'font-weight: bold;' : '' %>
        <%- styles[section].link_underline ? 'text-decoration: underline;' : '' %> }

      <% content[section].map((block, index) => { %>
        <% style = styles[section+'-block-'+index] %>
        table.email-<%- section %>-block-<%- index %> td,
        table.email-<%- section %>-block-<%- index %> p {
          <%- style.font_family ? 'font-family: '+style.font_family+';' : '' %>
          <%- style.font_size ? 'font-size: '+style.font_size+';' : '' %>
          <%- style.color ? 'color: '+style.color+';' : '' %>
          <%- style.text_align ? 'text-align: '+style.text_align+';' : '' %>
          <%- style.line_height ? 'line-height: '+style.line_height+';' : '' %> }
      <% }) %>
    <% }) %>
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table class="container email">
              <tr>
                <td>
                  <% sections.map((section, i) => { %>
                    <% if(editable === true) { %>
                      <div class="section">
                    <% } %>
                    <table class="email-<%- section %>">
                      <tr>
                        <td>
                          <% if(styles[section].padding_top) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- styles[section].padding_top %>" style="font-size:<%- styles[section].padding_top %>;line-height:<%- styles[section].padding_top %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                          <% if(content[section].length > 0) { %>
                            <% content[section].map((block, j) => { %>
                              <% if(editable === true) { %>
                                <% is_active = active.section === section && active.block === j %>
                                <div class="block<%= is_active ? ' active' : '' %>">
                              <% } %>
                              <% if(block.type === 'text') { %>
                                <table class="row email-<%- section %>-block-<%- j %>">
                                  <tr>
                                    <% split = block.settings.split || [12] %>
                                    <% columns = block.settings.columns %>
                                    <% for(var i = 0; i < columns; i++) { %>
                                      <td class="large-<%- split[i] %><%- i === 0 ? ' first' : '' %><%- i === columns - 1 ? ' last' : '' %> columns">
                                        <%- block.content[i] %>
                                      </td>
                                    <% } %>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'imagegroup') { %>
                                <%
                                const imagestyle = (style) => {
                                  const styles = []
                                  if(style.width !== null) styles.push('border:'+style.width+'px '+style.style+' '+style.color+';')
                                  if(style.rounded !== null) styles.push('border-radius: '+(25*2)+'%;')
                                  return styles.join('')
                                }
                                %>
                                <% layout = block.settings.layout || [1] %>
                                <% layout.reduce((total, columns) => { %>
                                  <table class="row">
                                    <tr>
                                      <% for(var i = 0; i < columns; i++) { %>
                                        <td class="large-<%- 12 / columns %><%- i === 0 ? ' first' : '' %><%- i === columns - 1 ? ' last' : '' %> columns">
                                          <img src="<%- block.content[total + i] %>" style="<%- imagestyle(block.style) %>" />
                                        </td>
                                      <% } %>
                                    </tr>
                                  </table>
                                  <% return total + columns %>
                                <% }, 0) %>
                              <% } %>
                              <% if(editable === true) { %>
                                <div class="block-actions">
                                  <div class="block-spacer"></div>
                                  <div class="block-action" data-action="edit" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-pencil"></i>
                                  </div>
                                  <div class="block-action" data-action="clone" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-copy"></i>
                                  </div>
                                  <div class="block-action" data-action="remove" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-trash"></i>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                            <% }) %>
                          <% } else { %>
                            <div class="dropzone">
                              <table class="row">
                                <tr>
                                  <td class="large-12 first last columns">
                                    Drop Content Blocks Here
                                  </td>
                                  <td class="expander"></td>
                                </tr>
                              </table>
                            </div>
                          <% } %>
                          <% if(styles[section].padding_bottom) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- styles[section].padding_bottom %>" style="font-size:<%- styles[section].padding_bottom %>;line-height:<%- styles[section].padding_bottom %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                        </td>
                      </tr>
                    </table>
                    <% if(editable === true) { %>
                      </div>
                    <% } %>
                  <% }) %>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <% if(editable === true) { %>
        <script>
          Array.prototype.map.call(document.getElementsByClassName('block-action'), action => {
            action.addEventListener('click', function(e) {
              const dataset = e.currentTarget.dataset;
              window.parent.postMessage({
                target: 'designer',
                action: dataset.action,
                data: {
                  section: dataset.section,
                  block: parseInt(dataset.block)
                }
              }, '*')
            }, false);
          })
        </script>
      <% } %>
    </table>
  </body>
</html>
