<% sections = ['preheader','header','body','footer'] %>
<% block_types = ['h1','h2','h3','h4','p'] %>
<% page_background_color = _.get(design, 'page.background_color', null) %>
<% page_border_top = _.get(design, 'page.border_top', null) %>
<% page_email_border = _.get(design, 'page.email_border', null) %>
<% styles = {} %>
<% block_types.map((block_type, index) => { %>
  <% styles[block_type] = {} %>
  <% styles[block_type].font_family = _.get(design, 'page.'+block_type+'_font_family', null) %>
  <% styles[block_type].font_size = _.get(design, 'page.'+block_type+'_font_size', null) %>
  <% styles[block_type].color = _.get(design, 'page.'+block_type+'_color', null) %>
  <% styles[block_type].bold = _.get(design, 'page.'+block_type+'_bold', null) %>
  <% styles[block_type].italic = _.get(design, 'page.'+block_type+'_italic', null) %>
  <% styles[block_type].text_align = _.get(design, 'page.'+block_type+'_text_align', null) %>
  <% styles[block_type].line_height = _.get(design, 'page.'+block_type+'_line_height', null) %>
  <% styles[block_type].letter_spacing = _.get(design, 'page.'+block_type+'_letter_spacing', null) %>
<% }) %>
<% sections.map(section => { %>
  <% styles[section] = {} %>
  <% styles[section].background_color = _.get(design, section+'.background_color', null) %>
  <% styles[section].background_image = _.get(design, section+'.background_image', null) %>
  <% styles[section].border_top = _.get(design, section+'.border_top', null) %>
  <% styles[section].border_bottom = _.get(design, section+'.border_bottom', null) %>
  <% styles[section].padding_top = _.get(design, section+'.padding_top', null) %>
  <% styles[section].padding_bottom = _.get(design, section+'.padding_bottom', null) %>
  <% styles[section].text_font_family = _.get(design, section+'.font_family', null) %>
  <% styles[section].text_font_size = _.get(design, section+'.font_size', null) %>
  <% styles[section].text_color = _.get(design, section+'.color', null) %>
  <% styles[section].text_text_align = _.get(design, section+'.text_align', null) %>
  <% styles[section].text_line_height = _.get(design, section+'.line_height', null) %>
  <% styles[section].link_color = _.get(design, section+'.link_color', null) %>
  <% styles[section].link_bold = _.get(design, section+'.link_bold', null) %>
  <% styles[section].link_underline = _.get(design, section+'.link_underline', null) %>
  <% styles[section].letter_spacing = _.get(design, section+'.letter_spacing', null) %>
  <% content[section].map((block, index) => { %>
    <% styles[section+'-block-'+index] = {} %>
    <% styles[section+'-block-'+index].font_family = _.get(content, section+'['+index+'].font_family', null) %>
    <% styles[section+'-block-'+index].font_size = _.get(content, section+'['+index+'].font_size', null) %>
    <% styles[section+'-block-'+index].color = _.get(content, section+'['+index+'].color', null) %>
    <% styles[section+'-block-'+index].bold = _.get(content, section+'['+index+'].bold', false) %>
    <% styles[section+'-block-'+index].italic = _.get(content, section+'['+index+'].italic', false) %>
    <% styles[section+'-block-'+index].text_align = _.get(content, section+'['+index+'].text_align', 'left') %>
    <% styles[section+'-block-'+index].line_height = _.get(content, section+'['+index+'].line_height', null) %>
  <% }) %>
<% }) %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link href="/admin/css/foundation-emails.min.css" rel="stylesheet" />
    <% if(editable === true) { %>
      <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
      <style type="text/css">
        .dropzone {
          padding: 10px;
          background: #EEEEEE;
          border-top: 1px solid #BBBBBB;
          border-bottom: 1px solid #BBBBBB;
        }
        .dropzone td.first {
          text-align: center;
        }
        .block {
          position: relative;
          cursor: pointer;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          min-height: 30px;
        }
        .block.active {
          border-color: #000000;
        }
        .block:hover {
          border-color: #000000;
        }
        .block:hover .block-actions {
          display: flex;
        }
        .block-actions {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.4);
        }
        .block-actions .block-spacer {
          flex: 1;
        }
        .block-spacer,
        .block-action {
          font-size: 16px;
          padding: 3px 6px;
          line-height: 24px;
        }
        .block-action .fa {
          color: rgba(255,255,255,0.7);
        }
        .block-action:hover .fa {
          color: rgb(255,255,255);
        }
      </style>
    <% } %>
    <style type="text/css">
    @media only screen {
      html {
        background: <%- page_background_color %>;
      }
    }
    table.body {
      border-top: <%- page_border_top %>;
      background: <%- page_background_color %>;
    }
    table.body > tbody > tr > td.float-center {
      padding: 10px;
    }
    td.columns,
    td.column,
    th.columns,
    th.column {
      padding-bottom: 0;
    }
    body,
    table.body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    td,
    th,
    a {
      line-height: 1.5;
    }
    table.button table td {
      background-color: #BBBBBB;
      color: #666666;
      border: none;
    }
    <% block_types.map(block_type => { %>
      <%- block_type %> {
        word-wrap: normal;
        margin-bottom: 10px;
        Margin-bottom: 10px;
        <%- styles[block_type].font_family ? 'font-family: '+styles[block_type].font_family+';' : '' %>
        <%- styles[block_type].font_size ? 'font-size: '+styles[block_type].font_size+';' : '' %>
        <%- styles[block_type].bold ? 'font-weight: bold;' : '' %>
        <%- styles[block_type].italic ? 'font-style: italic;' : '' %>
        <%- styles[block_type].color ? 'color: '+styles[block_type].color+';' : '' %>
        <%- styles[block_type].text_align ? 'text-align: '+styles[block_type].text_align+';' : '' %>
        <%- styles[block_type].line_height ? 'line-height: '+styles[block_type].line_height+';' : '' %>
        <%- styles[block_type].letter_spacing ? 'letter-spacing: '+styles[block_type].letter_spacing+';' : '' %>
      }
    <% }) %>

    table.email {
      <%- page_email_border ? 'border: '+page_email_border+';' : '' %>;
    }
    <% sections.map(section => { %>
      table.email-<%- section %> {
        <%- styles[section].border_top ? 'border-top: '+styles[section].border_top+';' : '' %>
        <%- styles[section].border_bottom ? 'border-bottom: '+styles[section].border_bottom+';' : '' %>
        <%- styles[section].background_color ? 'background-color: '+styles[section].background_color+';' : '' %>
      }
      table.email-<%- section %> td,
      table.email-<%- section %> p {
        <%- styles[section].text_font_family ? 'font-family: '+styles[section].text_font_family+';' : '' %>
        <%- styles[section].text_font_size ? 'font-size: '+styles[section].text_font_size+';' : '' %>
        <%- styles[section].text_color ? 'color: '+styles[section].text_color+';' : '' %>
        <%- styles[section].text_text_align ? 'text-align: '+styles[section].text_text_align+';' : '' %>
        <%- styles[section].text_line_height ? 'line-height: '+styles[section].text_line_height+';' : '' %>
        <%- styles[section].text_letter_spacing ? 'letter-spacing: '+styles[section].text_letter_spacing+';' : '' %>
      }
      table.email-<%- section %> td a {
        <%- styles[section].link_color ? 'font-color: '+styles[section].link_color+';' : '' %>
        <%- styles[section].link_bold ? 'font-weight: bold;' : '' %>
        <%- styles[section].link_underline ? 'text-decoration: underline;' : '' %>
      }
      <% content[section].map((block, index) => { %>
        <% style = styles[section+'-block-'+index] %>
        table.email-<%- section %>-block-<%- index %> td,
        table.email-<%- section %>-block-<%- index %> p {
          <%- style.font_family ? 'font-family: '+style.font_family+';' : '' %>
          <%- style.font_size ? 'font-size: '+style.font_size+';' : '' %>
          <%- style.color ? 'color: '+style.color+';' : '' %>
          <%- style.text_align ? 'text-align: '+style.text_align+';' : '' %>
          <%- style.line_height ? 'line-height: '+style.line_height+';' : '' %>
        }
        <% if(block.type === 'button') { %>
          table.email-<%- section %>-block-<%- index %> table.button table td {
            <%- block.config.border ? 'border:'+block.config.border+';' : '' %>
            <%- block.config.background_color ? 'background-color:'+block.config.background_color+';' : '' %>
            <%- block.config.border_radius ? 'border-radius:'+block.config.border_radius+';' : '' %>
          }
          table.email-<%- section %>-block-<%- index %> table.button table td a {
            <%- block.config.font_family ? 'font-family:'+block.config.font_family+';' : '' %>
            <%- block.config.font_size ? 'font-size:'+block.config.font_size+';' : '' %>
            <%- block.config.letter_spacing ? 'letter-spacing: '+block.config.letter_spacing+';' : '' %>
            <%- block.config.color ? 'color:'+block.config.color+';' : '' %>
            <%- block.config.padding ? 'padding-top:'+block.config.padding+';' : '' %>
            <%- block.config.padding ? 'padding-bottom:'+block.config.padding+';' : '' %>
          }
        <% } else if(block.type === 'text') { %>
          table.email-<%- section %>-block-<%- index %> td,
          table.email-<%- section %>-block-<%- index %> p {
            <%- block.config.font_family ? 'font-family: '+block.config.font_family+';' : '' %>
            <%- block.config.font_size ? 'font-size: '+block.config.font_size+';' : '' %>
            <%- block.config.color ? 'color: '+block.config.color+';' : '' %>
            <%- block.config.text_align ? 'text-align: '+block.config.text_align+';' : '' %>
            <%- block.config.line_height ? 'line-height: '+block.config.line_height+';' : '' %>
            <%- block.config.letter_spacing ? 'letter-spacing: '+block.config.letter_spacing+';' : '' %>
          }
        <% } %>
      <% }) %>
    <% }) %>
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table class="container email">
              <tr>
                <td>
                  <% sections.map((section, i) => { %>
                    <% if(editable === true) { %>
                      <div class="section" data-section="<%= section %>">
                    <% } %>
                    <table class="email-<%- section %>">
                      <tr>
                        <td>
                          <% if(styles[section].padding_top) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- styles[section].padding_top %>" style="font-size:<%- styles[section].padding_top %>;line-height:<%- styles[section].padding_top %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                          <% if(content[section].length > 0) { %>
                            <% content[section].map((block, j) => { %>
                              <% if(editable === true) { %>
                                <% is_active = active.section === section && active.block === j %>
                                <div class="block<%= is_active ? ' active' : '' %>">
                              <% } %>
                              <% if(block.type === 'text') { %>
                                <table class="row email-<%- section %>-block-<%- j %>">
                                  <tr>
                                    <% split = block.config.split || [12] %>
                                    <% columns = block.config.columns %>
                                    <% for(var i = 0; i < columns; i++) { %>
                                      <td class="large-<%- split[i] %><%- i === 0 ? ' first' : '' %><%- i === columns - 1 ? ' last' : '' %> columns">
                                        <%- block.config[`content_${i}`] %>
                                      </td>
                                    <% } %>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'divider') { %>
                                <table class="row email-<%- section %>-block-<%- j %>">
                                  <tr>
                                    <td class="large-12 first last columns">
                                      <hr/>
                                    </td>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'button') { %>
                                <table class="row email-<%- section %>-block-<%- j %>">
                                  <tr>
                                    <% for(var i = 0; i < columns; i++) { %>
                                      <td class="large-12 first last columns">
                                        <% if(block.config.align === 'center') { %>
                                          <center>
                                        <% } %>
                                        <table class="button<%= block.config.display === 'block' ? ' expanded' : '' %> float-<%= block.config.align %>">
                                          <tr>
                                            <td>
                                              <table>
                                                <tr>
                                                  <td>
                                                    <% if(block.config.link_strategy === 'web') { %>
                                                      <a href="<%= block.config.url %>"<%- block.config.open_in_new_window ? 'target="_blank"': '' %><%= block.config.title ? ' title="'+block.config.title+'"' : '' %>>
                                                    <% } else if(block.config.link_strategy === 'email') { %>
                                                      <a href="mailto:<%- block.config.email_address %>"<%= block.config.title ? ' title="'+block.config.title+'"' : '' %>>
                                                    <% } else if(block.config.link_strategy === 'anchor') { %>
                                                      <a href="#<%- block.config.anchor %>"<%= block.config.title ? ' title="'+block.config.title+'"' : '' %>>
                                                    <% } else if(block.config.link_strategy === 'asset') { %>
                                                      <a href="<%- block.config.asset_id %>"<%= block.config.title ? ' title="'+block.config.title+'"' : '' %>>
                                                    <% } %>
                                                      <%= block.config.content %>
                                                    </a>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                        <% if(block.config.align === 'center') { %>
                                          </center>
                                        <% } %>
                                      </td>
                                    <% } %>
                                  </tr>
                                </table>
                              <% } else if(block.type === 'images') { %>
                                <%
                                const imagestyle = (style) => {
                                  const styles = []
                                  if(style.width !== null) styles.push('border:'+style.width+'px '+style.style+' '+style.color+';')
                                  if(style.rounded !== null) styles.push('border-radius: '+(25*2)+'%;')
                                  return styles.join('')
                                }
                                %>
                                <% layout = block.settings.layout || [1] %>
                                <% layout.reduce((total, columns) => { %>
                                  <table class="row email-<%- section %>-block-<%- j %>">
                                    <tr>
                                      <% for(var i = 0; i < columns; i++) { %>
                                        <td class="large-<%- 12 / columns %><%- i === 0 ? ' first' : '' %><%- i === columns - 1 ? ' last' : '' %> columns">
                                          <img src="<%- block.content[total + i] %>" style="<%- imagestyle(block.style) %>" />
                                        </td>
                                      <% } %>
                                    </tr>
                                  </table>
                                  <% return total + columns %>
                                <% }, 0) %>
                              <% } %>
                              <% if(editable === true) { %>
                                <div class="block-actions">
                                  <div class="block-spacer"></div>
                                  <div class="block-action" data-action="edit" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-pencil"></i>
                                  </div>
                                  <div class="block-action" data-action="clone" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-copy"></i>
                                  </div>
                                  <div class="block-action" data-action="remove" data-section="<%= section %>" data-block="<%= j %>">
                                    <i class="fa fa-trash"></i>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                            <% }) %>
                          <% } else { %>
                            <div class="dropzone">
                              <table class="row">
                                <tr>
                                  <td class="large-12 first last columns">
                                    <%= section%>
                                  </td>
                                  <td class="expander"></td>
                                </tr>
                              </table>
                            </div>
                          <% } %>
                          <% if(styles[section].padding_bottom) { %>
                            <table class="spacer">
                              <tbody>
                                <tr>
                                  <td height="<%- styles[section].padding_bottom %>" style="font-size:<%- styles[section].padding_bottom %>;line-height:<%- styles[section].padding_bottom %>;">&#xA0;</td>
                                </tr>
                              </tbody>
                            </table>
                          <% } %>
                        </td>
                      </tr>
                    </table>
                    <% if(editable === true) { %>
                      </div>
                    <% } %>
                  <% }) %>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <% if(editable === true) { %>
        <script>

          Array.prototype.map.call(document.getElementsByClassName('block-action'), action => {
            action.addEventListener('click', function(e) {
              const dataset = e.currentTarget.dataset;
              window.parent.postMessage({
                target: 'designer',
                action: dataset.action,
                data: {
                  section: dataset.section,
                  block: parseInt(dataset.block)
                }
              }, '*')
            }, false);
          })

          Array.prototype.map.call(document.getElementsByClassName('section'), section => {
            section.addEventListener('dragenter', function(e) {
              e.preventDefault();
              e.stopPropagation();
            }, false)
            section.addEventListener('dragover', function(e) {
              e.preventDefault();
              e.stopPropagation();
            }, false)
            section.addEventListener('drop', function(e) {
              e.preventDefault()
              e.stopPropagation()
              window.parent.postMessage({
                target: 'designer',
                action: 'add',
                data: {
                  section: e.currentTarget.dataset.section,
                  type: e.dataTransfer.getData('type')
                }
              }, '*')
            }, false)
          })

        </script>
      <% } %>
    </table>
  </body>
</html>
