<table class="row collapse">
  <tbody>
    <tr>
      <td class="large-12 first last columns">
        <%- block.align === 'center' ? '<center>' : '' %>
          <table align="<%= block.align %>" class="button<%= block.display === 'block' ? ' expanded' : '' %> float-<%= block.align %>">
            <tbody>
              <tr>
                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <% if(block.link_strategy === 'calendar') { %>
                            <a href="<%= objects.events[block.event_id].get('ics') %>" class="gmail-hide yahoo-hide owa-hide">
                              <%= block.content %>
                            </a>
                            <a href="#" style="display: none;" class="gmail-show">
                              <%= block.content %>
                            </a>
                            <a href="#" style="display: none;" class="yahoo-show">
                              <%= block.content %>
                            </a>
                          <% } else { %>
                            <% if(block.link_strategy === 'form') { %>
                              <a href="<%= objects.forms[block.form_id].get('url') %>" target="_blank">
                            <% } else if(block.link_strategy === 'registration') { %>
                              <a href="<%= objects.events[block.event_id].get('url') %>" target="_blank">
                            <% } else if(block.link_strategy === 'asset') { %>
                              <a href="<%= objects.assets[block.asset_id].get('signed_url') %>" target="_blank">
                            <% } else if(block.link_strategy === 'web') { %>
                              <a href="<%= block.url %>" target="_blank">
                            <% } else if(block.link_strategy === 'email') { %>
                              <a href="<%= `mailto:${email_address}?subject=${email_subject}&body=${email_body}` %>">
                            <% } else if(block.link_strategy === 'preferences') { %>
                              <a href="&lt;%= email.preferences_link %&gt;">
                            <% } %>
                              <%= block.content %>
                            </a>
                          <% } %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        <%- block.align === 'center' ? '</center>' : '' %>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
