<%
const imageurl = (image) => {
  if(image) return `${host}/imagecache/w=580&h=317&dpi=2&q=100&overlay=video${image}`
  return 'https://dummyimage.com/1160x634/606060/ffffff&text=+++VIDEO+++'
}
const image = (block, width) => {
  if(block.video) {
    const preview = imageurl(block.video.preview)
    return `
      <a href="${block.video.src}">
        <img src="${preview}" width="${width}" alt="${preview.split('/').pop()}" />
      </a>
    `
  }
  const image = imageurl(block.image)
  return `<img src="${image}" width="${width}" alt="${image.split('/').pop()}" />`
}
const captionCell = (block, vertical, position) => {
  const width = vertical ? 12 : 12 - block.video_width
  return `
    <td class="${`small-${width} large-${width} columns ${position} block-caption`}">
      <div>${ block.caption }</div>
    </td>
  `
}
const imageCell = (block, vertical, position) => {
  const width = vertical ? 12 : block.video_width
  const pxwidth = (width / 12) * 580
  return `
    <td class="${`small-${width} large-${width} columns ${position} block-image`}">
      <div>${ image(block, pxwidth) }</div>
    </td>
  `
}
%>
<% if(block.show_caption) { %>
  <table class="row collapse">
    <% if(block.video_position === 'bottom') { %>
      <tbody>
        <tr>
          <%- captionCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
        <tr>
          <%- imageCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'top') { %>
      <tbody>
        <tr>
          <%- imageCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
        <tr>
          <%- captionCell(block, true, 'first last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'left') { %>
      <tbody>
        <tr>
          <%- imageCell(block, false, 'first') %>
          <%- captionCell(block, false, 'last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } else if(block.video_position === 'right') { %>
      <tbody>
        <tr>
          <%- captionCell(block, false, 'first') %>
          <%- imageCell(block, false, 'last') %>
          <td class="expander"></td>
        </tr>
      </tbody>
    <% } %>
  </table>
<% } else { %>
  <table class="row collapse">
    <tbody>
      <tr>
        <%- imageCell(block, true, 'first last') %>
        <td class="expander"></td>
      </tr>
    </tbody>
  </table>
<% } %>
