<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/admin/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/font-awesome.min.css">
    <style>
      body {
        background-color: #999999;
      }
      .share {
        width:1200px;
        max-width:94%;
        margin:0 auto;
        background-color:#FFFFFF;
        box-shadow:3px 3px 25px -5px #333333;
        display: flex;
        flex-direction: column;
      }
      .share-header {
        background-color: #EEEEEE;
        display: flex;
      }
      .share-header-text {
        flex: 1;
        padding: 0.8em;
        line-height: 2.6em;
      }
      .share-header-button {
        padding: 0.8em;
      }
      .share-header-button a {
        background-color: #2185d0;
        color: #FFFFFF;
        padding: 0.8em;
        border-radius: 0.5em;
        display: block;
      }
      .share-body {
        flex: 1;
        padding: 0.8em;
      }
      img, video {
        width: 100%;
      }
      iframe {
        border: none;
        width: 100%;
        height: 100%;
        min-width: 100%;
        flex: 0;
        margin: auto;
      }

    </style>
    <title><%= asset.url %></title>
  </head>
  <body>
    <div class="share">
      <div class="share-header">
        <div class="share-header-text">
          Now viewing: <i class="fa fa-fw fa-file-o"></i> <%= asset.original_file_name %>
        </div>
        <div class="share-header-button">
          <a href="<%= asset.url %>">
            <i class="fa fa-download"></i> Download File
          </a>
        </div>
      </div>
      <div class="share-body">
        <% if ((asset.content_type.match(/pdf/)) || (asset.content_type.match(/excel/)) || (asset.content_type.match(/spreadsheetml/)) || (asset.content_type.match(/msword/)) || (asset.content_type.match(/wordprocessingml/)) || (asset.content_type.match(/powerpoint/)) || (asset.content_type.match(/presentationml/))) { %>
          <iframe src="https://docs.google.com/gview?url=<%= encodeURI(asset.signed_url) %>&embedded=true"></iframe>
        <% } else if(asset.content_type.match(/(jpeg|jpg|gif|png)/)) { %>
          <img src="<%= asset.signed_url %>" alt="<%= asset.original_file_name %>" />
        <% } else if(asset.content_type.match(/video/)) { %>
          <video width="500" height="350" controls>
            <source src="<%= asset.signed_url %>" type="<%= asset.content_type %>">
            Preview unavailable, <a href="<%= asset.url %>">click here to download the file.</a>
          </video>
        <% } else if(asset.content_type.match(/audio/)) { %>
          <iframe src="<%= asset.signed_url %>"></iframe>
        <% } else { %>
          <p>Preview unavailable, <a href="<%= asset.url %>">click here to download the file.</a></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
