<table align="center" class="container intro">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last">
        <p>Hi Joshua,</p>
        <p>
          We have submitted a new application for a subaccount of CCE Tompkins.
          The details are below:
        </p>
        <p>
          <strong>Master Merchant Account ID:</strong> v7s2p72z2gc432v3<br />
          <strong>Team:</strong> <%= team.title %><br />
          <strong>Contact:</strong> <%= account.full_name %><br />
          <strong>Email:</strong> <a href="mailto:<%= account.email %>"><%= account.email %></a><br />
          <strong>Phone:</strong> <%= account.cell_phone %>
        </p>
        <ul>
          <li>Please remember to add ACH processing to this accout.</li>
          <li>Please remember to ask for their 501c3 documentation so they can be
          verified for a non profit rate.</li>
        </ul>
        <p>
          Thank you!<br />
          Greg Kops<br />
          <a href="mailto:gmk8@cornell.edu">gmk8@cornell.edu</a><br />
          607-277-5647
      </td>
    </tr>
  </tbody>
</table>
