<table class="row maha-header">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last">
        <p>Hi <%= account.get('first_name') %>,</p>
        <p>You missed the following notifications yesterday:</p>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
<% Object.values(teams).map(({ team, subjects }) => { %>
  <% if(Object.values(teams).length > 1) { -%>
    <table>
      <tbody>
        <tr>
          <td class="large-12 columns first last notifications-team">
            <p class="text-center">
              <%= team.get('title') %>
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    </table>
  <% } -%>
  <% Object.values(subjects).map(({ subject, notifications }) => { %>
    <table class="row notifications-subject">
      <tbody>
        <tr>
          <td class="small-2 large-1 columns first notifications-subject-avatar">
            <% if(subject && subject.photo) { %>
              <img width="30" height="30" alt="<%= subject.full_name %>" src="<%= host %>/imagecache/fit=cover&w=40&h=40&dpi=2<%= subject.photo -%>" />
            <% } else { %>
              <img width="30" height="30" src="<%= host %>/imagecache/fit=cover&w=40&h=40&dpi=2/images/maha.png" />
            <% } %>
          </td>
          <td class="small-10 large-11 columns last notifications-subject-details">
            <p><%= subject.full_name %></p>
            <ul>
              <% notifications.map((notification) => { %>
                <% last = notification %>
                <li>
                  <span class="notifications-notification">
                    <a href="<%= host %><%= notification.route %>">
                      <%= notification.body %>
                    </a>
                  </span>
                  <span class="notifications-timestamp">
                    <%= moment(notification.created_at).format('h:mmA') -%>
                  </span>
                </li>
              <% }) %>
            </ul>
          </td>
          <td class="expander"></td>
        </tr>
      </tbody>
    </table>
  <% }) -%>
<% }) -%>
